#forecastDetailsContainer {
    padding-inline: 2%;
}

#forecastDetailsTop {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

#forecastDetailsMainImg {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0,0,0,.34);
    object-fit: cover;
}

#surfHeightBubble {
    background-color: lime;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0,0,0,.34);
    width: fit-content;
}

#surfBubbleText {
    margin: 0;
    font-size: 30px;
}

#locationDesc {
    font-size: 20px;
}

.forecastInfoTitle {
    font-size: 28px;
}

.forecastInfoSubtitle {
    font-size: 24px;
    font-style: italic;
}

.forecastInfoComp {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.forecastInfoChartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    height: 320px;
}

.forecastInfoContainer {
    width: 50%;
}

.forecastChartContainer {
    width: 50%;
}

#ww3ForeacastChartContainer {
    margin-top: 100px;
    margin-bottom: 60px;
    height: 400px;
}