:root {
    --brand-blue: #0c3e89;
    --brand-text: white;
}

.loginSignupContainer {
    text-align: center;
    padding-top: 30px;
}

.signupLoginTitle {
    margin-bottom: 0;
    font-size: 28px;
}

.signupLoginSubtitle {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
}

.signupLoginSubtitleColor {
    color: var(--brand-blue);
    text-decoration: none;
    transition: 0.5s;
}

.signupLoginSubtitleColor:hover {
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
}

.loginSignupForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    margin: 0 auto;
}

.loginSignupInput {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: solid 2px black;
    padding-bottom: 10px;
}

.loginSignupButton {
    background-color: var(--brand-blue);
    color: var(--brand-text);
    font-size: 20px;
    transition: 0.5s;
    width: 45%;
    margin: 0 auto;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 4px var(--brand-blue);
    border-radius: 5px;
    margin-top: 20px;
}

.loginSignupButton:hover {
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
}

.passwordCheck {
    margin: 0;
    margin-bottom: -20px;
    text-align: left;
}

.passwordCheckIndicator {
    margin-right: 10px;
}

#loginButton {
    margin-top: 10px;
}